@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik+Scribble&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(76, 120, 132, 0.529);
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 380px;
  background-color: lightgray;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.heading{
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  font-family: "Madimi One", sans-serif;
}

.inputs{
  margin: 20px 0px 0px 35px;
}

label{
  font-size: larger;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
  width: 210px;
  height: 5vh;
  border: 1px solid;
  padding:5px;
  margin: 13px 13px 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
}

.bmi-btn{
  width: 130px;
  padding: 8px;
  margin: 10px 0 0 80px;
  font-size: medium;
}

.bmi-btn:hover{
  font-weight: 600;
  color: rgb(18, 18, 18);
  background-color: darkgray;
  box-shadow: 0 0 10px rgba(14, 14, 14, 0.452);
}

.bmi-result{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 600;
  text-align: center;
  width: 90%;
  padding: 5px;
  margin: 30px 0 0 15px;
}
